/* 📢 Ads */
.ads {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--color-section);
  user-select: none;
}

.ads__text {
  font-weight: bold;
  color: var(--color-black);
}
