<div class="container max-w-7xl father__container">
    <!-- Banner -->
    <!-- <div class="banner">
        <p class="banner__text">Banner</p>
    </div> -->

    <div class="novels">
        <!-- Novela Destacada -->
        <div class="novels__latest">            

            <p class="novels__latest-text">Latest Novels</p>

            <div class="novels__list">
                <app-novel-latest-home [novels]="latestNovels | async  " />
            </div>

        </div>

        <!-- Novelas Populares -->
        <div class="novels__popular">

            <p class="novels__popular-text">Popular Novels</p>
            
            <div class="novels__list">
                <app-novel-popular-home [novels]="popularNovels | async " />
            </div>

        </div>
        
    </div>
    
    <div class="novels__list grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        otro
    </div>
</div>
