<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div *ngFor="let novel of novels" class="novelItem">
        <p class="novels__popular-text">{{ novel.id }}</p>
        <div class="novelItem__image">
            <img [src]="novel.image" alt="{{ novel.title }}">
        </div>
        <div class="novelItem__content">
            <h2 class="novelItem__title">{{ novel.title }}</h2>
            <div class="novelItem__genres">
                <span *ngFor="let genre of novel.genres" class="novelItem__genre">
                    {{ genre }}
                </span>
            </div>
        </div>
    </div>
</div>