<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div *ngFor="let novel of novels" class="novelItem">
        <div class="novelItem__image">
            <img [src]="novel.image" alt="{{ novel.title }}" class="w-full h-full">
        </div>
        <div class="novelItem__content">
            <div class="flex justify-between">
                <h2 class="novelItem__title">{{ novel.title }}</h2>
                <p class="novelItem__popularity mt-1 text-red-600 font-bold">{{ novel.popularity }}</p>
            </div>
            <div class="novelItem__genres">
                <span *ngFor="let genre of novel.genres" class="novelItem__genre">
                    {{ genre }}
                </span>
            </div>
        </div>
    </div>
</div>