<div [ngClass]="'container'">
  <!-- Filtros superiores -->
  <div [ngClass]="'filters'">
    <div [ngClass]="'filters__group'">
      <h3 [ngClass]="'filters__title'">Languages</h3>
      <div [ngClass]="'filters__buttonGroup'">
        <button 
          *ngFor="let language of languages"
          [ngClass]="{
            'button': true,
            'button--selected': language === selectedLanguage
          }"
          (click)="filterByLanguage(language)">
          {{ language }}
        </button>
      </div>
    </div>
      
    <div [ngClass]="'filters__group'">
      <h3 [ngClass]="'filters__title'">Status</h3>
      <div [ngClass]="'filters__buttonGroup'">
        <button 
          *ngFor="let status of statuses" 
          [ngClass]="{
            'button': true,
            'button--selected': status === selectedStatus
          }"
          (click)="filterByStatus(status)">
          {{ status }}
        </button>
      </div>
    </div>

    <div [ngClass]="'filters__group'">
      <h3 [ngClass]="'filters__title'">Sort By</h3>
      <div [ngClass]="'filters__buttonGroup'">
        <button 
          *ngFor="let option of sortByOptions" 
          [ngClass]="{
            'button': true,
            'button--selected': option === selectedSort
          }"
          (click)="sortBy(option)">
          {{ option }}
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de novelas -->
  <div [ngClass]="'novelList'">
    <div *ngFor="let novel of novels" [ngClass]="'novelItem'">
      <img [src]="novel.image" alt="{{ novel.title }}" [ngClass]="'novelItem__image'">
      <div>
        <h2 [ngClass]="'novelItem__title'">{{ novel.title }}</h2>
        <p [ngClass]="'novelItem__description'">{{ novel.description }}</p>
        <div [ngClass]="'novelItem__genres'">
          <span *ngFor="let genre of novel.genres" [ngClass]="'genre'">
            {{ genre }}
          </span>
        </div>
      </div>
    </div>
  </div>
  
</div>
