.container {
  padding: 1.5rem;
  color: #333;
  min-height: 100vh;
}

/* FILTROS */

.filters {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filters__group {
  display: block;
}

.filters__title {
  font-weight: 600;
  font-size: 1.125rem;
}

.filters__buttonGroup {
}

.button {
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
}

.filters__checkboxGroup {
}

.filters__buttonGroup, .filters__checkboxGroup {

  /* display: flex;
  flex-wrap: wrap; */
  gap: 0.5rem;
  padding: 0.625rem;
}

.filters__checkboxLabel {
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease;  
}

.button, .filters__checkboxLabel {
  border: 1px solid #000;
  
  background-color: #000000;
  color: #ffffff;
  
  background-color: #ffffff;
  color: #000;
}
.button, .filters__checkboxLabel {
  text-align: center;
}
.button--selected, .filters__checkboxLabel:hover, .filters__checkboxLabel--selected {
  color: rgb(255, 200, 0);
  background-color: #ffffff;
  border: 1px solid #000;

  background-color: #000000;
  border: 1px solid #fff;
}
.filters__checkboxLabel:hover {
  background-color: #000000;
  border: 1px solid #fff;

  background-color: #ffffff;
  border: 1px solid #000;
}

.filters__checkboxLabel input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Novelas */
.novelList {
  padding: 0.625rem;
}
.novelList__item {
  background-color: #f9f9f9;
  padding: 0.625rem;
  transition: all .3s ease;
  user-select: none;
  border: 1px solid #1a1a1a;
  border-radius: 0.3125rem;
}
.novelList__imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.novelList__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(120%);
}
.novelList__details {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;  
  opacity: 0;
  transition: opacity .3s ease;
}
.novelList__detailsTitle {
  color: rgb(255, 200, 0);
  text-align: center;
  font-weight: 700;

  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Para evitar el desbordamiento del texto */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.novelList__item:hover {
  background-color: rgb(255, 200, 0);
}
.novelList__item:hover .novelList__details {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b5;
  padding: 1rem;  
  opacity: 1;
}
