.container {
  padding: 1.5rem;
  color: #333;
  min-height: 100vh;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#ff5c00, #963700);
  height: 10rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.novels .novels__latest p,
.novels .novels__popular p {
  color: rgb(0, 0, 0);
  background-color: #f3f4f6;
  border-radius: .5rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: .5rem;
}