<p>home-page works!</p>
  
<div class="baraja01">
    <div class="baraja01__frame">
        <span class="lines"></span>
        <div class="baraja01__frame__item-img"></div>
        <div class="baraja01__frame__item-title">
            <h3>assassin cinderella</h3>
        </div>
        <div class="polygon" id="polygon__1">
            <div class="polygon__letter">A</div>
            <div class="polygon__img"></div>
        </div>
        <div class="polygon" id="polygon__2">
            <div class="polygon__letter">A</div>
            <div class="polygon__img"></div>
        </div>
    </div>
    <span class="points" id="pt1"></span>
    <span class="points" id="pt2"></span>
    <span class="points" id="pt3"></span>
    <span class="points" id="pt4"></span>
</div>
  <!-- Lista de novelas
<div [ngClass]="'novelList'">
<div
    *ngFor="let novel of novels$ | async as novels"
    [ngClass]="'novelItem'"
>
    <img [src]="novel.image" alt="{{ novel.title }}" [ngClass]="'novelItem__image'">
    <div>
    <h2 [ngClass]="'novelItem__title'">{{ novel.title }}</h2>
    <div [ngClass]="'novelItem__genres'">
        <span *ngFor="let genre of novel.genres" [ngClass]="'genre'">
        {{ genre }}
        </span>
    </div>
    </div>
</div>
</div>-->