<nav class="navbar">
    <div class="navbar__container">
        <span class="navbar__brand">DukeTranslation</span>
        <div class="navbar__links">
            <a routerLink="/" class="navbar__link">Home</a>
            <a routerLink="/novels" class="navbar__link">Novels</a>
        </div>
    </div>
    <div class="navbar__actions">
        <app-theme-switcher class="navbar__button" />
        <button class="navbar__button">🔍</button>
        <button class="navbar__button">⚙️</button>
        <button class="navbar__button navbar__button--logout">Logout</button>
    </div>
</nav>