<nav class="navbar">
  <div class="navbar__container">
    <span class="navbar__brand">DukeTranslation</span>
    <div class="navbar__links hidden md:flex">
      <a routerLink="/" class="navbar__link">Home</a>
      <a routerLink="/novels" class="navbar__link">Novels</a>
    </div>
  </div>

  <div class="navbar__actions">
    <app-theme-switcher class="navbar__button" />
    
    <navbar-user-menu 
      class="navbar__button navbar__button--login"

      [isLoggedIn]="true"
    />

    <button class="navbar__button navbar__button--search">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-5"
      >
        <path
          fill-rule="evenodd"
          d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <button class="navbar__button navbar__button--burger" (click)="isMenuOpen = !isMenuOpen">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
  </div>

  <!-- Menú desplegable -->
  <div 
    [ngClass]="{
      'navbar__burger--menu': true,
      'open': isMenuOpen
    }"
  >
    <ul>
      <li>
        <a routerLink="/" class="navbar__link">Home</a>
      </li>
      <li>
        <a routerLink="/novels" class="navbar__link">Novels</a>
      </li>
    </ul>
  </div>
</nav>
