/* 🌐 Layout */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

/* 📢 Ads */
.ads {
  background-color: var(--color-sidebar);
  padding: 1rem;
  text-align: center;
}

.ads__text {
  font-weight: bold;
  color: var(--color-black);
}

/* 🎛️ Sidebar */
.sidebar {
  width: 12.5rem;
  padding: 1rem;
  background-color: var(--color-sidebar);
}

.sidebar__header {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar__brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-black);
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar__item {
  padding: 0.5rem;
  background-color: var(--color-white);
  border-radius: .5rem;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sidebar__item:hover {
  background-color: var(--color-sidebar-dark);
}

.sidebar__text {
  font-weight: bold;
  color: var(--color-black);
}

.ads,
.sidebar__brand,
.sidebar__text {
  user-select: none;
}
