<div class="layout">
  <!-- Navbar -->
  <app-navbar />
  
  <!-- Contenido Principal -->
  <main class="layout__main container max-w-max mx-auto">
    
    <!-- Sección de Anuncios -->
    <section class="ads">
        <p class="ads__text">Advertisements</p>
    </section>

    <router-outlet></router-outlet>
    
    <!-- Barra Lateral -->
    <aside class="sidebar">
      <div class="sidebar__header">
          <h2 class="sidebar__brand">DukeTranslation</h2>
      </div>
      <nav class="sidebar__nav">
          <div class="sidebar__item">
              <p class="sidebar__text">Random Novel</p>
          </div>
          <div class="sidebar__item">
              <p class="sidebar__text">Gift Novel</p>
          </div>
      </nav>
    </aside>

  </main>

  <!-- Footer -->
  <app-footer/>
  
</div>
