/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colores de Estado */
  --color-error: #bb2929;
  --color-success: #1ed12d;
  --color-info: #0791e6;
  --color-alert: #ffcf00;

  /* Colores de fondo */
  --color-background: #ededed;
  --color-background-dark: #16151d;
  /* Colores de texto */
  --color-black: #16151d;
  --color-white: #ffffff;
  --color-moon: #c1c5c5;
  /* Colores de border */
  --color-border: #ffffff;
  --color-border-dark: #16151d;

  /* Colores MAIN */
  --color-primary: rgb(255, 200, 0);
  --color-primary-light: rgb(255, 211, 51);
  --color-primary-dark: rgb(255, 158, 0);

  --color-secondary: rgb(0, 255, 200);
  --color-secondary-light: rgb(51, 255, 211);
  --color-secondary-dark: rgb(0, 255, 255);

  /* sidebar / ads */
  --color-sidebar: #f3f4f6;
  --color-sidebar-dark: #e5e7eb;

  --color-black-fit: #000000;
  --color-white-fit: #ffffff;

  --color-navbar: #ffffff;
  --color-navbar-dark: #16151d;

  --color-section: #ffffff;

  --color-switch: var(--color-moon);
}

/* Variables de Sombras */
:root {
  --bg-transparent: #000000b5;

  --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-dark: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}
/* Variables de Transiciones */
:root {
  --transition-fast: all 0.3s ease;
  --transition-medium: all 0.5s ease;
  --transition-slow: all 0.7s ease;
}
/* Variables de Z-Index */
:root {
  --z-index-tooltip: 1000; /* Para tooltips */
  --z-index-modal: 2000; /* Para modales */
  --z-index-overlay: 3000; /* Para overlays */
  --z-index-dropdown: 4000; /* Para dropdowns */
}
/* Variables para Botones */
:root {
  --button-primary-bg: var(--color-primary);
  --button-primary-bg-hover: var(--color-primary-dark);
  --button-secondary-bg: var(--color-secondary);
  --button-secondary-bg-hover: var(--color-secondary-dark);

  --button-border-radius: 25px;
  --button-padding: var(--space-sm) var(--space-md);
  /* Filtros */
  --button-bg: var(--color-primary);
  --button-bg-selected: var(--color-background-dark);

  --button-tc: var(--color-black);
  --button-tc-selected: var(--color-white);
}

/* Variables específicas para el Modo Oscuro */
body.dark-mode {
  /* Colores de fondo */
  --color-background: #16151d;
  --color-background-dark: #ededed;
  /* Colores de texto */
  --color-black: #ffffff;
  --color-white: #16151d;
  /* Colores de border */
  --color-border: #16151d;
  --color-border-dark: #ffffff;

  /* navbar */
  --color-navbar: #16151d;
  --color-navbar-dark: #ffffff;

  --color-section: #222222;
  /* Filtros */
  --button-bg: var(--color-background-dark);
  --button-bg-selected: var(--color-primary);

  --button-tc: var(--color-white);
  --button-tc-selected: var(--color-white);
}

.ads,
.sidebar,
.navbar,
.footer,
.father__container {
  background-color: var(--color-section);
}

.ads,
.sidebar,
.father__container {
  border-radius: 1.25rem;
}
.section-mt {
  margin: 1rem 0 0 0;
}
.section-mr {
  margin: 0 1rem 0 0;
}
.section-mb {
  margin: 0 0 1rem 0;
}
.section-ml {
  margin: 0 0 0 1rem;
}
